<div class="header stickyHeader">
    <div class="menubar">
        <div class="mycontainer" >
            <div class="topnav" >
                <a [routerLink]="['/home']" [routerLinkActive]="['active']" >Home</a>
                <a [routerLink]="['/pega']"  [routerLinkActive]="['active']">Motor Insurance</a>
                <a  [routerLinkActive]="['active']">Health Insurance</a>
                <a href="">Life Insurance</a>
                <a href="">Home Insurance</a>
                <a href="">Claims</a>
                <a href="">Pay Premium</a>
                <a href="">Emergency</a>
            </div>
            <div id="myLinks">
                <a  href="">Home</a>
                <a href="">Motor Insurance</a>
                <a href="">Health Insurance</a>
                <a href="">Life Insurance</a>
                <a href="">Home Insurance</a>
                <a href="">Claims</a>
                <a href="">Pay Premium</a>
                <a href="">Emergency</a>
            </div>
            <div class="mobileNav">
                <a href="javascript:void(0);" class="icon" (click)="mobileMenuBar()" >
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
</div>

