.stickyHeader {
    position: sticky !important;
    top: 80px;
}
.menubar {
    background: #F7F7F7;
    padding: 5px 0px;
    .topnav {
        margin: 10px;
        a {
            
            padding: 10px;
            margin-right: 10px;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            font-weight: 700;
            text-decoration: none;
        }
        :hover, .active{
            background: rgba(55, 142, 240, 0.5);
            border-radius: 8px;
        }
    }
}
@media (max-width: 1126px) {
    .menubar {
        .topnav {
            :hover, .active{
                padding: 5px;
            }
        }
    }
}
@media (min-width: 768px) {
    #myLinks{
        display: none;
    }
    .mobileNav{
        display: none;
    }
    
}
//Mobile css
@media (max-width: 767px) {
    .topnav,#myLinks {
        display: none;
    }
    #myLinks {
        position: absolute;
        background: #F7F7F7;
        margin-top: 25px;
        padding: 20px;
        width: 80%;
        max-width: 100%;
        a {
            display: block;
            padding: 10px;
            margin-right: 10px;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
            font-weight: 900;
            text-decoration: none;
            
        }
        :hover, .active{
            background: rgba(55, 142, 240, 0.5);
            border-radius: 8px;
            margin: 10px 0px;
        }
    }
}
