
.step-form {
  .col-1{
    width: 65%;
    margin-left: 5%;
    max-width: 100%;
  }
    .form-content {
        border-bottom: 1px solid #C4C4C4;
        padding-bottom: 28px;
        padding-top: 20px;
        &:last-child {
            border-bottom: none !important;
        }
        .labelRego{
          span{
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #032150;
            margin-left: 10px;
            a{
              font-weight: 600;
              text-decoration: underline;
              margin-left: 5px;
            }
          }
        }
    }
    .input-group {
        .employeeStatus{
            margin-top: 10px;
            .employeecontainer {
                display: inline;
                position: relative;
                padding-left: 0px;
                margin-bottom: 20px;
                cursor: pointer;
                font-size: 25px;
                padding-right: 30px;
                .labelName {
                    //margin-left: 26px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27px;
                    color: #333333;
                }
              }
              .employeecontainer input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
              }          
              .employeecontainer:hover input ~ .check {
                background-color: #E3E3E3;
              }
              
              .employeecontainer input:checked ~ .check {
                background-color: #33B569;
                border: none !important;
              }
              .check{
                text-align: center;
                margin-top: 6px;
                border: 1px solid #969696;
                border-radius: 10px;
                padding: 5px 20px 9px 20px;
              }
              .employeecontainer input:checked ~ .check:after {
                display: block;
              }
              
          }
        .radioButton{
            margin-top: 10px;
            .radiocontainer {
                display: inline;
                position: relative;
                padding-left: 0px;
                margin-bottom: 20px;
                cursor: pointer;
                font-size: 25px;
                padding-right: 30px;
                .labelName {
                    margin-left: 26px;
                    font-size: 20px;
                }
              }
              
              /* Hide the default radio button */
              .radiocontainer input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
              }
              
              /* custom radio button */
              .check {
                position: absolute;
                top: 0;
                left: 0 px;
                height: 22px;
                width: 22px;
                background-color: lightgray;
                border-radius: 50%;
                text-align: center;
                margin-top: 6px;
              }
              
              .radiocontainer:hover input ~ .check {
                background-color: gray;
              }
              
              .radiocontainer input:checked ~ .check {
                background-color: #33B569;
              }
              
              .check:after {
                content: "";
                position: absolute;
                display: none;
              }
              
              .radiocontainer input:checked ~ .check:after {
                display: block;
              }
              .radiocontainer input:checked  ~ .check:after {
                display: block;
              }
              .radiocontainer .check:after {
                    top: 5px;
                    left: 5px;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background: white;
                    text-align: center;
              }
        }
        display: inline-block;
        label {
            font-weight: 700;
            font-size: 22px;
            line-height: 32px;
            color: #000000;
        }
        .form-control {
            width: 38% !important;
            margin-top: 10px;
            min-height: 64px;
            position: relative !important;
            background: #FFFFFF;
            border: 1px solid #838383;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 10px 15px;
        }
        .selectButton select {
            background: #FFFFFF;
            border: 1px solid #838383;
            box-sizing: border-box;
            border-radius: 8px;
            width: 38%;
            min-height: 64px;
            padding: 0px 10px;
            margin-top: 10px;
        }
    }
    .input-group-append {
        position: absolute;
        right: 64%;
        margin-top: -46px;
    }
}
.bottomBtn {
  background: #FFFFFF;
  box-shadow: 0px -4px 16px rgb(0 0 0 / 16%);
  padding: 20px 0px;
  z-index: 111111;
  position: relative;
  .mycontainer {
      display: flex;
      justify-content: space-between;
  }
  .nextBtn {
      background: #27AE60;
      border: none;
      border-radius: 8px;
      padding: 12px 20px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      text-decoration: none;
      cursor: pointer;
  }
  .backBtn {
      border: 1px solid #0070AD;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 12px 40px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      text-transform: capitalize;
      color: #0070AD;
      text-decoration: none;
      cursor: pointer;
  }
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}