<div class="step-form">
    <form #step3Form="ngForm" (ngSubmit)="step3Form.valid  && onSubmit(step3Form.value)">
        <div class="row col-1">
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Would you be the regular rider of the vehicle?</label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" [value]="true" name="regularRider" [(ngModel)]="data.RegularRider"  #regularRider="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                        </label>
                        <label class="radiocontainer">
                            <input type="radio" [value]="false" name="regularRider" [(ngModel)]="data.RegularRider" required>
                            <span class="check"></span><span class="labelName">No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>What type of license does the rider have?</label>
                    <select name="license" id="license" class="form-control" [(ngModel)]="data.License"  #license="ngModel"
                    [ngClass]="{ 'is-invalid': license.invalid && (license.dirty || license.touched )  }" required>
                        <option value="LMV">LMV</option>
                        <option value="LMV">LMV</option>
                        <option value="LMV">LMV</option>
                        <option value="LMV">LMV</option>
                        <option value="LMV">LMV</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="license.invalid">
                        <div *ngIf="license.errors?.required">
                            Type of license is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>How many full years has the regular rider held a license, inclusive of learners and probation?
                    </label>
                    <input type="text" name="yearsOfLicense" class="form-control" [(ngModel)]="data.YearsOfLicense" #yearsOfLicense="ngModel"
                        [ngClass]="{ 'is-invalid': yearsOfLicense.invalid && (yearsOfLicense.dirty || yearsOfLicense.touched) }" required>
                    <div class="invalid-feedback" *ngIf="yearsOfLicense.invalid">
                        <div *ngIf="yearsOfLicense.errors?.required">
                                Years Of License is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Does the driver own another registered vehicle?</label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" [value]="true" name="ownDriver" [(ngModel)]="data.OwnDriver"  #ownDriver="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                          </label>
                          <label class="radiocontainer">
                            <input type="radio" [value]="false" name="ownDriver" [(ngModel)]="data.OwnDriver" required>
                            <span class="check"></span><span class="labelName">No</span>
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Would you like to restrict age of riders to save on premium?</label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" [value]="true" name="restrictAge" [(ngModel)]="data.RestrictAge"  #restrictAge="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                          </label>
                          <label class="radiocontainer">
                            <input type="radio" [value]="false" name="restrictAge" [(ngModel)]="data.RestrictAge" required>
                            <span class="check"></span><span class="labelName">No</span>
                          </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomBtn">
            <div class="mycontainer">
                <div class="backButton">
                    <a class="backBtn"  (click)="back()">Back</a> 
                </div>
                <div class="nextButton">
                    <input type="submit" class="nextBtn" [ngClass]="{ 'disabled': !step3Form.valid }" [disabled]="!step3Form.valid" value="Continue">
                </div>
            </div>
        </div>
    </form>
</div>
