.faq-section .card-header {
    padding: 0px;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom:none;
}
.faq-section .card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 20px;
    padding-top: 20px;
    position: initial !important;
}
.faq-section .btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow:none;
}
.faq-section .card-body {
    padding: 0px 14px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.6);
}
.faq-section .addIcon,.faq-section .minusIcon {
    background: #E3E6EA;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 9px 5px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
}
.faq-section .accordion .btn-link .addIcon {
    display: none;
}
.faq-section .accordion .btn-link.collapsed .addIcon{
    display: block;
}
.faq-section .accordion .btn-link .minusIcon {
    display: block;
}
.faq-section .accordion .btn-link.collapsed .minusIcon{
    display: none;
}
.faq-section .card .btn-link {
    width: 100%;
    text-decoration: none;
}
.faq-section .panelContent{
    display: inline-flex;
    width: 100%;
}
.faq-section .panelTitle{
    text-align: left !important;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.6px;
    color: #212B40;
}
.faq-section span{
    text-align: end !important;
}