body {
    margin: 0px !important;
    overflow-x: hidden;
    font-family: 'Lato', Avenir;
    color: #000000;

}
html{
    position: relative;
}
.greenBtn{background: #33B569;}
h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}
h3 {
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
}
.requiredstar {
    color: red;
    font-size: 20px;
    margin-right: 3px;
}
.text-center{
    text-align: center;
}
.disabled{
    //border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
}
@media (min-width: 1200px){
    .mycontainer{
        width: 1140px;
        margin: 0 auto;
    }
    
}
@media (max-width: 1200px){
    .mycontainer{
        padding: 0px 30px;
        margin: 0 auto;
    }
    
}
@media (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 30px;
    }
    h2 {
        font-size: 28px;
        line-height: 30px;
    }
}