.homePage {
    .banner-section{
        background-image:url('/assets/images/plancar.png') ;
        h2{
            padding-top: 34px;
            color: #FFFFFF;
        }
        .vehicleDetails {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 12px;
            padding: 25px;
            margin-top: 30px;
            margin-bottom: 70px;
        }
        .vehicleChangeContent {
            display: inline-flex;
            margin-bottom: 15px;
            width: 100%;
            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.04em;
                color: #FFFFFF;
                width: 50%;
            } 
            .changeBtn{
                width: 50%;
                text-align: right;
                a{
                    background: #FFFFFF;
                    border: 1px solid #032150;
                    box-sizing: border-box;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: #032150;
                    padding: 10px 20px;
                }
            } 
        }
        .retriveContent{
            label{
                width: 100%;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #F2F2F2;
            }
            span{
                width: 100%;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                color: #FFFFFF;
            }
        }  
    }
    .insurancePlan-section {
        .orangeColor {
            background: rgba(255, 142, 18, 0.1);
            border-radius: 4px;
            font-weight: 900;
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
            color: #E67800;
            padding: 5px;
        }
        .table>:not(:first-child) {
            border-top: none;
        }
        .table {
            text-align: center;
            margin-top: 20px;
        }
        .table th:first-child{
            width: 25%;
            border-bottom: 1px solid #ffff;
            border-left: 1px solid #ffff;
            border-right: 10px solid #ffff;
            background: rgba(196, 196, 196, 0.1);
            padding: 16px;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: #26252F;
            text-align: left;
        }
        .table tr:last-child th{
            background: none;  
        }
        .planGetQuoteBtn a {
            background: #33B569;
            border-radius: 8px;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF !important;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            cursor: pointer;
        }
        tr:first-child td:nth-child(2),tr:first-child td:nth-child(3),tr:first-child td:nth-child(4),tr:first-child td:nth-child(5) {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        tr:last-child td:nth-child(2),tr:last-child td:nth-child(3),tr:last-child td:nth-child(4),tr:last-child td:nth-child(5) {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .table td:nth-child(2),.table td:nth-child(3),.table td:nth-child(4),.table td:nth-child(5){
            background: rgba(123, 97, 255, 0.1);
            border-right: 10px solid #ffff;
           // width: 15%;
            padding: 16px;
        }
        .insuranceContent {
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #26252F;
        }
        .topColumn{
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            letter-spacing: -0.4px;
            color: #000000;
        }
        thead tr:first-child th:first-child {
            background: none !important;
        }
        tbody, td, tfoot, th, thead, tr {
            border: none;
        }
        p {
            text-align: center;
            padding: 0px 16%;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #838383;
        }
        
    }
  .carDetails {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 10px;
    span {
        border-bottom: 1px solid #F2F2F2;
        font-weight: 700;
    }
}
.viewPlan {
    margin: 20px 0px;
    .frameContent {
        background: rgba(38, 37, 47, 0.4);
        border-radius: 12px;
        display: flex;
    }
    .retrieveQuoteField {
        width: 90%;
    }
    .previousQuotefield {
        background: transparent;
        border: none;
        width: 100%;
        padding: 15px;
    }
    .retrieveQuoteBtn {
        display: inline-flex;
        background: #FFFFFF;
        border: 1px solid #032150;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 10px 15px 10px 0px;
        .retrieveBtn{
            background: none;
            border: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #032150;
        }
    }
    ::placeholder {
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
      }
}

.cginusrnceCard {
    margin-top: 30px;
    .insuranceCard {
        background: rgba(255, 142, 18, 0.1);
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        .insuranceImg {
            padding-top: 15px;
        }
        .insuranceContent{
            .card-heading {
                font-weight: 900;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                padding-top: 20px;
            }
            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                color: #000000;
                padding-top: 10px;
            }
        }
    }
}

.blue-section {
    background: radial-gradient(88.53% 331.97% at 50% 50%, #194488 0%, #032150 100%);
    margin-top: 45px;
    padding: 40px 0px;
    h2{
        color: #FFFFFF;
    }
    p{
        font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 0px 135px;
    }
    .assistanceBtn {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        width: 472px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin-top: 30px;
    }
}
    ::ng-deep .card-rating span {
        border-radius: 4px;
        margin: 0px 2px;
        font-size: 23px;
        padding: 0px 4px;
        color: #ffffff;
        font-weight: 900;
        background: #33B569;
    }
    
}
@media (min-width: 1042px){
    .table-responsive {
        overflow-x: hidden;
    }
    .insuranceCard {
        height: 350px;
        min-height: 100%;
    }
    .planContent {
        height: 475px;
        max-height: 100%;
    }
}
@media (max-width: 1041px) and (min-width: 991px){
    .insuranceCard {
        height: 400px;
        min-height: 100%;
    }
    .planContent {
        height: 470px;
        max-height: 100%;
    }
}
@media (min-width: 992px){
    .brands-content{
        display: flex;
    }
    .brands-content {
        display: flex;
        justify-content: center;
        .brand-images {
            width: 100%;
            .brandimg {
                width: 50%;
            }
        }
    }
    
    .planContent {
        width: 397px;
        max-width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgb(213 215 225 / 49%);
        border-radius: 12px;
        padding: 30px;
    }
}
@media (max-width: 991px) and (min-width: 769px){
    .form-btn {
        width: 100% !important;
        padding: 0px 25px;
    }
}
@media (max-width: 991px) {
    .planContent {
        margin: 20px 0px;
        display: block;
        text-align: center;
    }
    .insuranceImg {
        padding-top: 10px !important;
    }
    .insuranceContent {
        margin-top: 0px !important;
    }
    .insuranceCard {
        margin: 20px 0px;
    }
    .planContent .insurnaceContent {
        width: 100%;        
        justify-content: center;
    }
    .brandimg {
        width: 50%;
        text-align: center;
        max-width: 100%;
    }
}
@media (min-width: 769px){
    .insurancePlan-section{
        .myColumn {
            width: 100%;
            display: inline-flex;
        }
        .col-30 {
            width: 24%;
            margin: 10px;
        }
        .col-20 {
            width: 19%;
            margin: 10px;
        }
    }   
}
//mobile view
@media (max-width: 768px){
    .blue-section p {
        padding: 0px 20px !important;
    }
}
