<div class="step-form">
    <form #step4Form="ngForm" (ngSubmit)="step4Form.valid  && onSubmit(step4Form.value)">
        <div class="row col-1">
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Your Full Name </label>
                    <div class="fullNameClass">
                        <div class="firstNameClass">
                            <input type="text" name="firstName" class="form-field" [(ngModel)]="data.FirstName" #firstName="ngModel" >
                        </div>
                        <div class="lastNameClass">
                            <input type="text" name="lastName" class="form-field" [(ngModel)]="data.LastName" #lastName="ngModel" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content"> 
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Your Date of Birth </label>
                    <input class="form-control" placeholder="yyyy-mm-dd" (click)="dateOfBirth.toggle()"
                           name="dateOfBirth" [(ngModel)]="data.DateOfBirth" ngbDatepicker #dateOfBirth="ngbDatepicker">
                    <div class="input-group-append" (click)="dateOfBirth.toggle()">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Gender 
                    </label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" value="male" name="gender" [(ngModel)]="data.Gender" #gender="ngModel" >
                            <span class="check"></span><span class="labelName">Male</span>
                        </label>
                        <label class="radiocontainer">
                            <input type="radio" value="female" name="gender" [(ngModel)]="data.Gender" >
                            <span class="check"></span><span class="labelName">Female</span>
                        </label>
                        <label class="radiocontainer">
                            <input type="radio" value="transgender" name="gender" [(ngModel)]="data.Gender" >
                            <span class="check"></span><span class="labelName">Transgender</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label class="mb-3">Employment Status</label>
                    <div class="employeeStatus">
                        <label class="employeecontainer">
                            <input type="radio"  value="permanant" name="employmentStatus" [(ngModel)]="data.EmploymentStatus" #employmentStatus="ngModel" >
                            <span class="check"><span class="labelName">Permanant</span></span>
                        </label>
                        <label class="employeecontainer">
                            <input type="radio" value="partTime" name="employmentStatus" [(ngModel)]="data.EmploymentStatus">
                            <span class="check"><span class="labelName">Part time</span></span>
                        </label>
                        <label class="employeecontainer">
                            <input type="radio" value="selfEmployed" name="employmentStatus" [(ngModel)]="data.EmploymentStatus">
                            <span class="check"><span class="labelName">Self-Employed</span></span>
                        </label>
                        <label class="employeecontainer">
                            <input type="radio" value="Student" name="employmentStatus" [(ngModel)]="data.EmploymentStatus">
                            <span class="check"><span class="labelName">Student</span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>How do you live?</label>
                    <div class="selectButton">
                        <select name="liveAddress" id="liveAddress" [(ngModel)]="data.LiveAddress" #liveAddress="ngModel"
                        [ngClass]="{ 'is-invalid': liveAddress.invalid && (liveAddress.dirty || liveAddress.touched )  }" required>
                            <option value="Condo">Condo</option>
                            <option value="Condo">Condo</option>
                            <option value="Condo">Condo</option>
                            <option value="Condo">Condo</option>
                            <option value="Condo">Condo</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="liveAddress.invalid">
                            <div *ngIf="liveAddress.errors?.required">
                                How do you live is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Contact Details</label>
                    <div class="fullNameClass">
                        <div class="firstNameClass">
                            <input type="text" name="phoneNumber" class="form-field" [(ngModel)]="data.PhoneNumber" #phoneNumber="ngModel" required>
                        </div>
                        <div class="lastNameClass">
                            <input type="email" name="emailContact" class="form-field" [(ngModel)]="data.EmailContact" #emailContact="ngModel" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomBtn">
            <div class="mycontainer">
                <div class="backButton">
                    <a class="backBtn"  (click)="back()">Back</a> 
                </div>
                <div class="nextButton">
                    <input type="submit" class="nextBtn" value="Continue" [ngClass]="{ 'disabled': !step4Form.valid }" [disabled]="!step4Form.valid"  id="ContinueBtn">
                </div>
            </div>
        </div>
    </form>
</div>

<ng-template #mymodal let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Answer these to get more relevant plans</h4>
    </div>
    <form #step4ModalForm="ngForm" (ngSubmit)="onSubmitModal(step4ModalForm.value)">
        <div class="modal-body">
            <div class="row  mb-3">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="relevantPlans">
                        <span class="requiredstar">*</span>
                        <label class="relevantPlansLabel">Do you smoke?</label><br>
                        <label class="relevantRadio">
                            <input type="radio" [value]="true" name="smoke" [(ngModel)]="data.doSmoke"  #smoke="ngModel">
                            <span class="check"></span><span class="labelName">Yes</span>
                        </label>
                        <label class="relevantRadio">
                            <input type="radio" [value]="false" name="smoke" [(ngModel)]="data.doSmoke">
                            <span class="check"></span><span class="labelName">No</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="relevantPlans">
                        <span class="requiredstar">*</span>
                        <label class="relevantPlansLabel">Do you consume Alcohol?</label><br>
                        <label class="relevantRadio">
                            <input type="radio" [value]="true" name="alcohol" [(ngModel)]="data.Alcohol"  #alcohol="ngModel">
                            <span class="check"></span><span class="labelName">Yes</span>
                        </label>
                        <label class="relevantRadio">
                            <input type="radio" [value]="false" name="alcohol" [(ngModel)]="data.Alcohol">
                            <span class="check"></span><span class="labelName">No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="relevantPlans">
                    <span class="requiredstar">*</span>
                    <label class="relevantPlansLabel">Do you live alone?</label><br>
                    <label class="relevantRadio">
                        <input type="radio" [value]="true" name="liveAlone" [(ngModel)]="data.LiveAlone"  #alcohol="ngModel">
                        <span class="check"></span><span class="labelName">Yes</span>
                    </label>
                    <label class="relevantRadio">
                        <input type="radio" [value]="false" name="liveAlone" [(ngModel)]="data.LiveAlone">
                        <span class="check"></span><span class="labelName">No</span>
                    </label>
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="relevantPlans">
                    <span class="requiredstar">*</span>
                    <label class="relevantPlansLabel">Income Range?</label><br>
                    <select name="incomeRange" class="selectBox" [(ngModel)]="data.IncomeRange"  #incomeRange="ngModel">
                        <option value="$275 K - $350 K">$275 K - $350 K</option>
                        <option value="$275 K - $350 K">$275 K - $350 K</option>
                        <option value="$275 K - $350 K">$275 K - $350 K</option>
                        <option value="$275 K - $350 K">$275 K - $350 K</option>
                        <option value="$275 K - $350 K">$275 K - $350 K</option>
                    </select>
                </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modalBtn">
                <div class="skipBtnDiv"><a class="skipBtn" (click)="skipFunction()">Skip</a></div>
                <div class="ContinueBtnDiv">
                    <input type="submit" class="ContinueBtn" value="Continue">
                </div>
            </div>
        </div>
    </form>
</ng-template>