::ng-deep .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}
::ng-deep .carousel-control-prev,::ng-deep .carousel-control-next {
    display: none;
}
::ng-deep .carousel-indicators {

    bottom: 20px !important;
    justify-content: left !important;
    margin-right: 0% !important;
    margin-left: 8% !important;
}
.picsum-img-wrapper {
    position: relative;
    mix-blend-mode: multiply;
    background:  linear-gradient(88.52deg, rgba(90, 95, 209, 62%) -1.46%, rgba(240, 44, 44, 49%) 100%);
    img{
        position: relative;
        display: inline-block;
        mix-blend-mode: multiply;
        width: 100%;
    }
}
.carousel-caption {
    right: 15%;
    top: 40px;
    left: 8%;
    padding-top: 50px;
    text-align: left;
    p{
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }
    h2{
        width: 55%;
        max-width: 100%;
        padding-top: 40px;
    }
}
.homePage {
  .banner-section{
    position: relative !important;
    .carousel {
        z-index: -1;
        position: relative !important;
    }
    
  }
  .carDetails {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 10px;
    span {
        border-bottom: 1px solid #F2F2F2;
        font-weight: 700;
    }
}
.viewPlan {
    margin: 20px 0px;
    .frameContent {
        background: rgba(38, 37, 47, 0.4);
        border-radius: 12px;
        display: flex;
    }
    .retrieveQuoteField {
        width: 90%;
    }
    .previousQuotefield {
        background: transparent;
        border: none;
        width: 100%;
        padding: 15px;
    }
    .retrieveQuoteBtn {
        display: inline-flex;
        background: #FFFFFF;
        border: 1px solid #032150;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 10px 15px 10px 0px;
        .retrieveBtn{
            background: none;
            border: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #032150;
        }
    }
    ::placeholder {
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
      }
}
.car-section{
    .carContent {
        p {
            font-weight: 500;
            line-height: 27px;
            color: #838383;
            margin-top: 20px;
        }
    }
    img{
        width: 100%;
    }
}
.plans-section{
    .plansContent {
        display: inline-flex;
        h3 {
            font-weight: 900;
            font-size: 20px;
            line-height: 27px;
            padding-top: 10px;
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #969696;
        }
    }
    .getQuoteBtn {
        margin-top: 50px;
        .greenBtn {
           background: #33B569;
            border-radius: 8px;
            border: none;
            font-weight: 900;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
            text-decoration: none;
            box-sizing: border-box;
        
        } 
    }
}
.whatMattersection{
    margin-top: 60px;
    p{
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #838383;
    }
    .whatMatter-content{
        .insurance-images{
            display: inline-block;
            width: 25%;
            text-align: center;
        }
    }
}
.protection-section{
    .protectionCard {
        border-bottom: 16px solid #378EF0;
        border-top: 16px solid #378EF0;
        position: relative;
        z-index: -1;
        max-width: 100%;
        padding: 25px 30px;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        min-height: 345px;
      #borderLeft {
        border-left: 16px solid #378EF0;
        position: absolute;
        top: 80%;
        bottom: 0;
        left: 0;
      }
      #borderRight{
        border-right: 16px solid #378EF0;
        position: absolute;
        top: 80%;
        bottom: 0;
        right: 0;
      }
      #bordertopRight{
        border-right: 16px solid #378EF0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 80%;
      }
      #bordertopLeft{
        border-left: 16px solid #378EF0;
        position: absolute;
        top: 0;
        bottom: 80%;
        left: 0;
      }
      .protectionHeading {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        padding-top: 35px;
    }
    .protectioncardheading {
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
        color: #000000;
        padding: 10px 0px;
    }
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #838383;
        margin-bottom: 35px;
    }
    }
    
}
.cginusrnceCard {
    margin-top: 30px;
    .insuranceCard {
        background: rgba(255, 142, 18, 0.1);
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        .insuranceImg {
            padding-top: 15px;
        }
        .insuranceContent{
            .card-heading {
                font-weight: 900;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                padding-top: 20px;
            }
            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                color: #000000;
                padding-top: 10px;
            }
        }
    }
}

.blue-section {
    background: radial-gradient(88.53% 331.97% at 50% 50%, #194488 0%, #032150 100%);
    margin-top: 45px;
    padding: 40px 0px;
    h2{
        color: #FFFFFF;
    }
    p{
        font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 0px 135px;
    }
    .assistanceBtn {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        width: 472px;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin-top: 30px;
    }
}
.peopleLove-section{
    margin-top: 35px;
    h2{
        margin-bottom: 30px;
    }
    .card-rating {
        background: #FFFFFF;
        border: 4px solid #DEDEDE;
        border-radius: 8px;
        padding: 25px;
        .quoteImg {
            margin-bottom: -41px;
            margin-left: -14px;
        }
        .Comments {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #26252F;
        }
        .cutomerName {
            font-weight: 800;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
        }
    }
}
    ::ng-deep .card-rating span {
        border-radius: 4px;
        margin: 0px 2px;
        font-size: 23px;
        padding: 0px 4px;
        color: #ffffff;
        font-weight: 900;
        background: #33B569;
    }
    .faq-section{
        margin-bottom: 50px;
        .faqTitle {
            font-weight: 800;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -0.9px;
            color: #26252F;
            border-bottom: 4px solid rgba(196, 196, 196, 0.3);
            padding-bottom: 20px;
        }
    }
    
}
@media (max-width: 1200px){
   .banner-section{
    ::ng-deep .carousel-caption {
        top: 0px!important;
    }
    ::ng-deep .carousel-caption h2 {
        padding-top: 10px !important;
        font-size: 24px;
    }
    
   }

}

@media (min-width: 1042px){
    .insuranceCard {
        height: 350px;
        min-height: 100%;
    }
    .planContent {
        height: 475px;
        max-height: 100%;
    }
}
@media (max-width: 1041px) and (min-width: 991px){
    .insuranceCard {
        height: 400px;
        min-height: 100%;
    }
    .planContent {
        height: 470px;
        max-height: 100%;
    }
}
@media (min-width: 992px){
    .car-section{
        .carContent {
            width: 455px;
            margin: 0 auto;
            max-width: 100%;
            padding-top: 50px;
            p {
                font-size: 20px;
            }
        }
    }
    
    .planContent {
        width: 397px;
        max-width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgb(213 215 225 / 49%);
        border-radius: 12px;
        padding: 30px;
    }
    .protectionCard {
        width: 315px;
    }
}
@media (max-width: 991px) and (min-width: 769px){
    .form-btn {
        width: 100% !important;
        padding: 0px 25px;
    }
    .car-section{
        .carContent {
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 30px;
            padding-right: 30px;
            p {
                font-size: 20px;
            }
        }
    }
    ::ng-deep .carousel-caption p {
        font-size: 18px !important;
        line-height: 27px !important;
    }
    ::ng-deep .carousel-caption h1 {
        font-size: 35px !important;
        line-height: 31px !important;
    }
    ::ng-deep .carousel-caption h2 {
            width: 100% !important;
            font-size: 22px !important;
            line-height: 26px !important;
    }
    ::ng-deep .carousel-indicators {
        bottom: 12px !important;
    }
}
@media (max-width: 991px) {
    .peopleLove-section{
        .card-rating  {
            margin-top: 30px;
        }
    }
    .planContent {
        margin: 20px 0px;
        display: block;
        text-align: center;
    }
    .insuranceImg {
        padding-top: 10px !important;
    }
    .insuranceContent {
        margin-top: 0px !important;
    }
    .insuranceCard {
        margin: 20px 0px;
    }
    .planContent .insurnaceContent {
        width: 100%;        
        justify-content: center;
    }
    .protectionHeading {
        padding-top: 15px !important;
    }
    .protectionCard{
        min-height: auto !important;
        margin-bottom: 20px !important;
    }
    .protectionContent p {
        margin-bottom: 15px !important;
    }
}
@media (min-width: 769px){
    .regoNumberForm{
        form{
          display: inline-flex;
        }
    }
    
    .plans-section{
        .getQuoteBtn {
            margin-top: 50px;
        }
        .greenBtn {
            padding: 20px 127px;
        }
    }
    .whatMatter-content {
        width: 900px;
        margin: 0 auto;
        max-width: 100%;
        .iconHeading {
            padding: 0px 72px;
        }
        .iconImages {
            min-height: 130px;
            display: inline-block;
        }
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #838383;
            margin-top: -7px;
        }
    }
}
//mobile view
@media (max-width: 768px){   
    .car-section{
        .carContent {
            margin-top: 30px;
            padding: 0px 30px;
            p {
                font-size: 18px;
            }
        }
    }
    .plans-section{
        h2 {
            margin-top: 30px !important;
        }
        .getQuoteBtn {
            margin-top: 50px;
        }
        .greenBtn {
            padding: 20px 30px;
        }
    }
    .blue-section p {
        padding: 0px 20px !important;
    }
    .whatMattersection{
        .whatMatter-content{
            .insurance-images{
                display: inline-block;
                width: 50% !important;
                text-align: center;
            }
        }
    }
}
@media (max-width: 768px) and (min-width: 530px){
    .banner-section{
        ::ng-deep .carousel-caption {
           padding-top: 10px !important;
        }
        ::ng-deep .carousel-caption p {
            font-size: 18px !important;
            line-height: 40px !important;
         }
        ::ng-deep .carousel-caption h1 {
            font-size: 25px !important;
            line-height: 25px !important;
        }
        ::ng-deep .carousel-caption h2 {
            padding-top: 10px !important;
            font-size: 18px !important;
            line-height: 26px !important;
            width: 100% !important;
        }
        ::ng-deep .carousel-indicators {
            bottom: -5px !important;
        }
        ::ng-deep .carousel-indicators li {
            width: 10px !important;
            height: 10px !important;
        }
    } 
   
}
@media (max-width: 529px){
    .banner-section{
        ::ng-deep .carousel-caption {
           padding-top: 25px !important;
        }
        ::ng-deep .carousel-caption p {
            font-size: 12px !important;
            line-height: 27px !important;
         }
        ::ng-deep .carousel-caption h1 {
            font-size: 18px !important;
            line-height: 14px !important;
        }
        ::ng-deep .carousel-caption h2 {
            padding-top: 10px !important;
            font-size: 14px !important;
            line-height: 15px !important;
            width: 80% !important;
        }
        ::ng-deep .carousel-indicators {
            bottom: -5px !important;
        }
        ::ng-deep .carousel-indicators li {
            width: 10px !important;
            height: 10px !important;
        }
    } 
}