.carInsurance {
  
.CarInsuranceTypeSection{
    margin-top: 30px;
        .headingPara {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: #838383;
            width: 67%;
            margin: 0 auto;
            padding-bottom: 25px;
            
        }
    .carContent{
        background: rgba(196, 196, 196, 0.1);
        padding: 30px;
        a{text-decoration: none; color: #000000;}
        .carTypeContent {
            padding: 25px;
            h3{
                font-weight: 700;
                font-size: 28px;
                line-height: 35px;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                padding-right: 30px;
            }
           &:hover{
            background: #27AE60;
            padding: 25px;
            min-height: 255px;
            h3{
                font-weight: 700;
                font-size: 28px;
                line-height: 35px;
                color: #FFFFFF;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                padding-right: 30px;
            }
            .viewMoreBtn a {
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 10px 40px;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF !important;
            }
            .arrow-down,.arrow-down-right{
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #27AE60;
                position: absolute;
                margin-top: 87px;
            }
            .arrow-down {
                right: 70% !important;
            }
            .arrow-down-right{
                left: 70% !important;
            }
        }
        }
        
    }
}
.insurancePlan-section {
    .orangeColor {
        background: rgba(255, 142, 18, 0.1);
        border-radius: 4px;
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        color: #E67800;
        padding: 5px;
    }
    .table>:not(:first-child) {
        border-top: none;
    }
    .table {
        text-align: center;
        margin-top: 20px;
    }
    .table th:first-child{
        width: 25%;
        border-bottom: 1px solid #ffff;
        border-left: 1px solid #ffff;
        border-right: 10px solid #ffff;
        background: rgba(196, 196, 196, 0.1);
        padding: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #26252F;
        text-align: left;
    }
    .table tr:last-child th{
        background: none;  
    }
    .planGetQuoteBtn a {
        background: #33B569;
        border-radius: 8px;
        font-weight: 900;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF !important;
        padding: 10px 20px;
        display: block;
        margin: 10px 10px 0px;
    }
    tr:first-child td:nth-child(2),tr:first-child td:nth-child(3),tr:first-child td:nth-child(4),tr:first-child td:nth-child(5) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    tr:last-child td:nth-child(2),tr:last-child td:nth-child(3),tr:last-child td:nth-child(4),tr:last-child td:nth-child(5) {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .table td:nth-child(2),.table td:nth-child(3),.table td:nth-child(4),.table td:nth-child(5){
        background: rgba(123, 97, 255, 0.1);
        border-right: 10px solid #ffff;
        //width: 15%;
        padding: 16px;
    }
    .table tr:last-child td{
        background: none;
            padding: 0px;
            margin: 0px;
        a{
            margin:0px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    .insuranceContent {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #26252F;
    }
    .topColumn{
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #000000;
    }
    thead tr:first-child th:first-child {
        background: none !important;
    }
    tbody, td, tfoot, th, thead, tr {
        border: none;
    }
    p {
        text-align: center;
        padding: 0px 16%;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #838383;
    }
    
}

.cginusrnceCard {
    margin-top: 30px;
    .insuranceCard {
        background: rgba(255, 142, 18, 0.1);
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        .insuranceImg {
            padding-top: 15px;
        }
        .insuranceContent{
            .card-heading {
                font-weight: 900;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                padding-top: 20px;
            }
            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                color: #000000;
                padding-top: 10px;
            }
        }
    }
}
::ng-deep .card-rating span {
    border-radius: 4px;
    margin: 0px 2px;
    font-size: 23px;
    padding: 0px 4px;
    color: #ffffff;
    font-weight: 900;
    background: #33B569;
}   
}
.morePlans-section{
    .planContent.term {margin-left: auto;}
    .planContent{
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgb(213 215 225 / 49%);
        border-radius: 12px;
        padding: 30px;
        .budgetHomes {
            display: flex;
        }
        .insuranceIcon,.insuranceIconlife{
            border-radius: 10px;
            padding: 18px;
        }
        .insuranceIcon{
            background: #FF7474;
        }
        .insuranceIconlife{
            background: #7B61FF;
        }
        .planTitle {
            font-weight: 900;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            padding-top: 0px;
            padding-left: 10px;
        }
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #838383;
            padding-top: 10px;
            padding-left: 10px;
        }
        .insurnaceContent {
            display: inline-flex;
            padding: 5px 0px;
            margin-top: 14px;
            .insurnacePoint {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: #000000;
                margin-left: 10px;
            }
        }
        .coverBtn {
            background: #33B569;
            border-radius: 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            padding: 12px 20px;
            text-align: center;
            margin-top: 30px;
        }
        .rightcoverBtn {
            margin-top: 31% !important;
        }
    }
}
.faq-section{
    margin-bottom: 50px;
    .faqTitle {
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.9px;
        color: #26252F;
        border-bottom: 4px solid rgba(196, 196, 196, 0.3);
        padding-bottom: 20px;
    }
}
.active {
    text-decoration: none;
    .carTypeContent{
        background: #27AE60;
        padding: 25px;
        min-height: 255px;
        h3{
            font-weight: 700;
            font-size: 28px;
            line-height: 35px;
            color: #FFFFFF;
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
            padding-right: 30px;
        }
        .viewMoreBtn a {
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 10px 40px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF !important;
        }
        .arrow-down,.arrow-down-right{
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #27AE60;
            position: absolute;
            margin-top: 87px;
        }
        .arrow-down {
            right: 70% !important;
        }
        .arrow-down-right{
            left: 70% !important;
        }

}
}
@media (min-width: 1042px){
    .insuranceCard {
        height: 350px;
        min-height: 100%;
    }
    .planContent {
        height: 475px;
        max-height: 100%;
    }
}
@media (max-width: 1041px) and (min-width: 991px){
    .insuranceCard {
        height: 400px;
        min-height: 100%;
    }
    .planContent {
        height: 470px;
        max-height: 100%;
    }
}
@media (max-width: 997px) and (min-width: 850px) {
    .arrow-down,.arrow-down-right {
        margin-top: 59px !important;
    }
    
}
@media (max-width: 849px) and (min-width: 768px) {
    .arrow-down,.arrow-down-right {
        margin-top: 25px !important;
    }
    
}
@media (min-width: 992px){
    .car-section{
        .carContent {
            width: 455px;
            margin: 0 auto;
            max-width: 100%;
            padding-top: 50px;
            p {
                font-size: 20px;
            }
        }
    }
    .brands-content{
        display: flex;
    }
    .brands-content {
        display: flex;
        justify-content: center;
        .brand-images {
            width: 100%;
            .brandimg {
                width: 50%;
            }
        }
    }
    
    .planContent {
        width: 397px;
        max-width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgb(213 215 225 / 49%);
        border-radius: 12px;
        padding: 30px;
    }
}
@media (max-width: 991px) and (min-width: 769px){
    .form-btn {
        width: 100% !important;
        padding: 0px 25px;
    }
    .car-section{
        .carContent {
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 30px;
            padding-right: 30px;
            p {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 991px) {
    .planContent {
        margin: 20px 0px;
        display: block;
        text-align: center;
    }
    .insuranceImg {
        padding-top: 10px !important;
    }
    .insuranceContent {
        margin-top: 0px !important;
    }
    .insuranceCard {
        margin: 20px 0px;
    }
    .planContent .insurnaceContent {
        width: 100%;        
        justify-content: center;
    }
    .brandimg {
        width: 50%;
        text-align: center;
        max-width: 100%;
    }
}
@media (min-width: 769px){
    .regoNumberForm{
        form{
          display: inline-flex;
        }
    }
    .table-responsive {
        overflow: hidden;
    }
    
}
//mobile view
@media (max-width: 768px){
    .banner-section{
        .regoNumberForm {
            margin-top: 20px;
        }
        .form-content .form-field {
            width: 100% !important;
            margin-bottom: 20px;
        }
        .form-btn {
            width: 100% !important;
        }
    }
    .car-section{
        .carContent {
            margin-top: 30px;
            padding: 0px 30px;
            p {
                font-size: 18px;
            }
        }
    }
}
