
<div class="compressive-section">
        <div class="carInsurance">
                <div class="CarInsuranceTypeSection">
                            <h2 class="text-center">Insurance Plans just for you</h2>
                            <p class="text-center headingPara">With three levels of motor insurance cover — Comprehensive, Third party with fire & theft, and Third party — you can choose the MotorPlan that’s right for you.</p>
                        <div class="carContent">
                            <div class="mycontainer">
                                <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <a [routerLink]="['/comprehensive']" [routerLinkActive]="['active']">
                                    <div class="carTypeContent">
                                        <h3>Comprehensive</h3>
                                        <p>Covers accidental loss or damage to your vehicle. It also covers accidental damage you cause to someone else's vehicle or property.</p>
                                        <div class="arrow-down"></div>
                                    </div>
                                </a>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <a [routerLink]="['/thirdParty']" [routerLinkActive]="['active']">
                                    <div class="carTypeContent">
                                        <h3>Third Party</h3>
                                        <p>Covers your vehicle if it's stolen or damaged by fire. It also covers accidental damage you cause to someone else's vehicle or property.</p>
                                        <div class="arrow-down-right"></div>
                                    </div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="insurancePlan-section">
                    <div class="mycontainer">
                        <div class="table-responsive">
                            <table class="table">
                            <thead>
                                <tr *ngIf="arrayLength >=2">
                                    <th scope="col"></th>
                                    <th scope="col"><a  class="orangeColor">Top Selling</a></th>
                                    <th scope="col"><a class="orangeColor">24% users bought this</a></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <th scope="col"></th>
                                    <th *ngFor="let label of responseArray.Label" scope="col" class="topColumn">{{ label }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th scope="row" >Premium</th>
                                  <td *ngFor="let premium of responseArray.Premium" class="insuranceContent pt-3" [ngStyle]="{ width: 75 / responseArray.Premium.length+'%'}">${{ premium }}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Excess</th>
                                  <td *ngFor="let excess of responseArray.Excess" class="insuranceContent">${{ excess }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Not at Fault Hire</th>
                                    <td *ngFor="let notAtFaultHire of responseArray.NotAtFaultHire">
                                      <img *ngIf="notAtFaultHire==true" src="assets/images/checkIcon.png">
                                      <img *ngIf="notAtFaultHire==false" src="assets/images/cross.png">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Lifetime guarantee on repairs</th>
                                   
                                    <td *ngFor="let lifetimeGuaranteeOnRepairs of responseArray.LifetimeGuaranteeOnRepairs">
                                        <img *ngIf="lifetimeGuaranteeOnRepairs==true" src="assets/images/checkIcon.png">
                                        <img *ngIf="lifetimeGuaranteeOnRepairs==false" src="assets/images/cross.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Personal Effects cover</th>
                                    <td class="insuranceContent" *ngFor="let personalEffectsCoverFee of responseArray.PersonalEffectsCoverFee">${{ personalEffectsCoverFee }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">New Car Replacement</th>
                                    <td class="insuranceContent" *ngFor="let newCarReplacement of responseArray.NewCarReplacement">{{ newCarReplacement }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Loss or Stolen Keys</th>
                                    <td class="insuranceContent" *ngFor="let lostOrStolenKeysFee of responseArray.LostOrStolenKeysFee">${{lostOrStolenKeysFee}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Accidental death benefit</th>
                                    <td class="insuranceContent" *ngFor="let accidentalDeathBenefit of responseArray.AccidentalDeathBenefit">${{accidentalDeathBenefit}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Child Seat or Baby Capsule</th>
                                    <td class="insuranceContent" *ngFor="let childSeatorBabyCapsule of responseArray.ChildSeatOrBabyCapsuleFee">${{childSeatorBabyCapsule}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Emergency transport and accomodation cover</th>
                                    <td class="insuranceContent" *ngFor="let emergencyTransportAndAccomodationCoverFee of responseArray.EmergencyTransportAndAccomodationCoverFee">${{emergencyTransportAndAccomodationCoverFee}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Road Side Assistance</th>
                                    <td  *ngFor="let roadSideAssistance of responseArray.RoadSideAssistance">
                                        <img *ngIf="roadSideAssistance==true" src="assets/images/checkIcon.png">
                                        <img *ngIf="roadSideAssistance==false" src="assets/images/cross.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Freedom to nominate repairer</th>
                                    <td *ngFor="let freedomToNominateRepairer of responseArray.FreedomToNominateRepairer">
                                        <img *ngIf="freedomToNominateRepairer==true" src="assets/images/checkIcon.png">
                                        <img *ngIf="freedomToNominateRepairer==false" src="assets/images/cross.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Safe Driver Rewards</th>
                                    <td *ngFor="let safeDriverRewards of responseArray.SafeDriverRewards">
                                        <img *ngIf="safeDriverRewards==true" src="assets/images/checkIcon.png">
                                        <img *ngIf="safeDriverRewards==false" src="assets/images/cross.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Accidental Cleanup</th>
                                    <td *ngFor="let accidentalCleanup of responseArray.AccidentalCleanup">
                                        <img *ngIf="accidentalCleanup==true" src="assets/images/checkIcon.png">
                                        <img *ngIf="accidentalCleanup==false" src="assets/images/cross.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Uninsured Motorist Extension</th>
                                    <td *ngFor="let uninsuredMotoristExtension of responseArray.UninsuredMotoristExtension">
                                        <img *ngIf="uninsuredMotoristExtension==true" src="assets/images/checkIcon.png">
                                        <img *ngIf="uninsuredMotoristExtension==false" src="assets/images/cross.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td class="planGetQuoteBtn" *ngFor="let name of responseArray.Name" ><a (click)="getQuote(name)">Get Quote</a></td>
                                  </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        <div class="morePlans-section">
            <div class="mycontainer">
                <h2 class="text-center mt-5">Explore More Plans</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="planContent term">
                            <div class="budgetHomes">
                                <div>
                                    <img class="insuranceIcon" src="assets/images/home.png">
                                </div>
                                <div>
                                    <div class="planTitle">Budget Homes</div>
                                    <p>Get home insurance for extra protection for your home in the times of calamities.</p>
                                </div>
                            </div>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Earthquake and Tsunami-Additional excess </div>
                            </div> 
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Removal of Debris-Up to 10% of your building sum insured </div>
                            </div>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Temporary Accomodation Costs </div>
                            </div>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Food Spoilage & Unoccupancy cover </div>
                            </div>
                            <div class="coverBtn"><a>View Cover Details</a></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="planContent">
                            <div class="budgetHomes">
                                <div>
                                    <img class="insuranceIconlife" src="assets/images/lifeline.png">
                                </div>
                                <div>
                                    <div class="planTitle">Life Insurance</div>
                                    <p>Get Term life insurance for extra protection for you and your family.</p>
                                </div>
                            </div>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Your Survivors can afford to stay</div>
                            </div> 
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">The compensation is paid as lump-sum and is tax free</div>
                            </div>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Legal Liability Cover- $20 Million</div>
                            </div> 
                            <div class="coverBtn rightcoverBtn"><a>View Cover Details</a></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="faq-section mt-5">
            <div class="mycontainer">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="faqTitle">Frequently Asked Questions
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
</div>

