
<div class="homePage">
        <div class="banner-section">
            <div class="mycontainer">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                        <h2>Get Car Insurance plans at 15% off*</h2>
                        <div class="regoNumberForm">
                            <form #form="ngForm" (ngSubmit)="form.valid  && onSubmit(form.value)" novalidate>
                                <div class="form-content">
                                    <label for="zipcode">Zipcode</label><br>
                                    <input type="text" id="Zipcode"  class="form-field" name="Zipcode" [(ngModel)]="ZipCode" #Zipcode="ngModel" 
                                    [ngClass]="{ 'is-invalid': Zipcode.invalid && (Zipcode.dirty || Zipcode.touched )  }" required><br>

                                    <div class="invalid-feedback" *ngIf="Zipcode.invalid">
                                        <div *ngIf="Zipcode.errors?.required">
                                            Zip Code is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-content">
                                    <label for="rego">REGO Number</label><br>
                                    <input type="text" id="rego" name="rego" class="form-field" [(ngModel)]="RegoNumber" #rego="ngModel" 
                                    [ngClass]="{ 'is-invalid': rego.invalid && (rego.dirty || rego.touched )  }" required><br>

                                    <div class="invalid-feedback" *ngIf="rego.invalid">
                                        <div *ngIf="rego.errors?.required">
                                            REGO Number is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-content">
                                    <label ></label><br>
                                    <input type="submit" class="form-btn" value="Find Plans For Me">
                                </div>
                            </form> 
                        </div>
                        <p  class="carDetails">Don’t know your REGO no.? <span>Enter your car details manually</span></p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
                        <div class="viewPlan" *ngIf="message != 'No offers available'">
                            <form >
                                <div class="frameContent">
                                    <div class="frameContentLabel">Resume with previous quote</div>
                                    <div class="row">
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <div class="offerContent">
                                                <label>Zipcode</label>
                                                <span>53098</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                            <div class="offerContent">
                                                <label>REGO No.</label>
                                                <span>55553098</span>
                                            </div>
                                        </div>
                                        <div class="viewBtn">
                                            <a [routerLink]="['/comprehensive']" class="{{offerName}}" [queryParams]="{pyNote:offerName}" >View Plans</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        
                    </div>
                </div> -->
            </div>
        </div>
        <div class="car-section">
            <div class="">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="carContent">
                            <h1>What is comprehensive car insurance?</h1>
                            <p>With flexible cover and no additional fees for pay by the month, our excellent comprehensive, third party liability and third party fire & theft motorcycle insurance policies are yet another reason to ride.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <img src="assets/images/car.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="plans-section">
            <div class="mycontainer">
                <h2 class="text-center mt-5">Comprehensive Plan Benefits</h2>
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="plansContent">
                            <img src="assets/images/check.png" width="80px" height="80px">
                            <div>
                                <h3>Agreed Value</h3>
                                <p>Your Agreed Value is the amount we agree to insure your car for when your policy begins and at each renewal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="plansContent">
                            <img src="assets/images/check.png" width="80px" height="80px">
                            <div>
                                <h3>Damage to your own vehicle and other people’s property</h3>
                                <p>If your bike is accidentally damaged, or is stolen, we’ll repair it or pay you your Agreed Value to replace it.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="plansContent">
                            <img src="assets/images/check.png" width="80px" height="80px">
                            <div>
                                <h3>Lifetime Repair Guarantee</h3>
                                <p>When we repair damage, we guarantee the repairs for the life of your motorcycle, even if you sell it.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="plansContent">
                            <img src="assets/images/check.png" width="80px" height="80px">
                            <div>
                                <h3>Towing, storage and transport</h3>
                                <p>If you have an accident and your bike is not able to be driven, we’ll pay to tow your bike to the nearest place of safety, store it there, and get you and your passengers home.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="plansContent">
                            <img src="assets/images/check.png" width="80px" height="80px">
                            <div>
                                <h3>Customer Service Centres*</h3>
                                <p>Exclusive to AA Insurance! A one-stop shop that will help you get back on the road again as quickly as possible.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="plansContent">
                            <img src="assets/images/check.png" width="80px" height="80px">
                            <div>
                                <h3>Quality Repairer Network</h3>
                                <p>We have a select network of skilled repair specialists who meet the highest quality standards for work and service.</p>
                            </div>
                        </div>
                    </div>
                    <div class="getQuoteBtn text-center">
                        <a class="greenBtn" [routerLink]="['/plans']" >Get Your Quote</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-section">
            <div class="mycontainer">
                <h2 class="text-center">Providing insurance for 50+ brands</h2>
                <div class="brands-content">
                    <div class="brand-images mt-4">
                        <div class="brandimg">
                            <img src="assets/images/honda.png">
                        </div>
                        <div class="brandimg">
                            <img src="assets/images/volkswagen.png">
                        </div>
            
                    </div>
                    <div class="brand-images mt-4">
                        <div class="brandimg">
                            <img src="assets/images/hyundai.png">
                        </div>
                        <div class="brandimg">
                            <img src="assets/images/honda.png">
                        </div>
                    </div>
                    <div class="brand-images mt-4">
                        <div class="brandimg">
                            <img src="assets/images/volkswagen.png">
                        </div>
                        <div class="brandimg">
                            <img src="assets/images/hyundai.png">
                        </div>
                    </div>
    
                </div>
            </div> 
        </div>
        <div class="cgInsurance-section">
            <div class="mycontainer">
                <h2 class="text-center mt-5">Why Choose CG Insurance</h2>
                <div class="row cginusrnceCard">
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/multiPolicy.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Multi-policy</div>
                                <p>Is your home, car, boat, or RV insured with us? You could save even more on motorcycle insurance if you combine it with another Progressive product.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/optional.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Optional Extras</div>
                                <p>Comprehensive customers can choose one or more of our four optional extras, including a hire car following an accident, and cover for their riding gear.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/multiPolicy.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Easy, paperless claims 24/7</div>
                                <p>Whether you lodge and track your claim over the phone or online, say goodbye to mountains of paperwork!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/colling.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Cooling-off period</div>
                                <p>If you haven’t made a claim, you can cancel your policy within 21 days of the purchase date and receive a full refund of your premium
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="morePlans-section">
            <div class="mycontainer">
                <h2 class="text-center mt-5">Explore More Plans</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="planContent term">
                            <img class="insuranceIcon" src="assets/images/termInsurance.png">
                            <div class="planTitle">Term Life Insurance</div>
                            <p>Get Term life insurance for extra protection for you and your family.</p>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Your Survivors can afford to stay </div>
                            </div> 
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">The compensation is paid as lump-sum and is tax free </div>
                            </div>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Your Survivors can afford to stay </div>
                            </div>
                            <div class="coverBtn"><a >View Cover Details</a></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="planContent">
                            <img class="insuranceIcon" src="assets/images/accident.png">
                            <div class="planTitle">Accident Insurance</div>
                            <p>To be able to stay home in the event of long-term accident</p>
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">If you get a serious injury, we pay-out $10,000 immediately.</div>
                            </div> 
                            <div class="insurnaceContent">
                                <img src="assets/images/checkIcon.png" width="28px" height="28px">
                                <div class="insurnacePoint">Compensation for loss of ability to work due to injury.</div>
                            </div>
                            <div class="coverBtn"><a>View Cover Details</a></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="blue-section">
            <div class="mycontainer">
                <h2 class="text-center">Need Advice? Get help with our Assistance</h2>
                <p class="text-center">With three levels of motor insurance cover — Comprehensive, Third party with fire & theft, and Third party — you can choose the MotorPlan that’s right for you.</p>
                <div class="assistanceBtn text-center"><a [routerLink]="['/customerDetail/getQuote']">Get Assistance</a></div>
            </div> 
        </div>
        <div class="peopleLove-section">
            <div class="mycontainer">
                <h2 class="text-center">People Love Us!</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="card-rating">
                            <div class="rating"> 
                                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                            </div>
                            <img class="quoteImg" src="assets/images/quote.png">
                            <p class="Comments">The experts chatting with me would ensure that I have understood their explanation.
                            </p>
                            <div class="cutomerName">Henrick Johanson</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="card-rating">
                            <div class="rating"> 
                                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                            </div>
                            <img class="quoteImg" src="assets/images/quote.png">
                            <p class="Comments">The experts chatting with me would ensure that I have understood their explanation.
                            </p>
                            <div class="cutomerName">Henrick Johanson</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="card-rating">
                            <div class="rating"> 
                                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                            </div>
                            <img class="quoteImg" src="assets/images/quote.png">
                            <p class="Comments">The experts chatting with me would ensure that I have understood their explanation.
                            </p>
                            <div class="cutomerName">Henrick Johanson</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="faq-section mt-5">
            <div class="mycontainer">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="faqTitle">Frequently Asked Questions
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <div class="panelContent">
                                        <div class="panelTitle">What are the roles that a freelancer can serve?
                                        </div>
                                        <span ><i class="fa fa-plus addIcon"  aria-hidden="true"></i> 
                                            <i  class="fa fa-minus minusIcon" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </ng-template>
                              <ng-template ngbPanelContent>
                                Any person who is either a graduate or is pursuing graduation is eligible to apply as a freelancer. Owning a valid PAN card and bank account is mandatory to
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
</div>

