.homePage {
    .banner-section{
        background: linear-gradient(
            88.52deg, rgba(90, 95, 209, 0.94) -1.46%, rgba(240, 44, 44, 0.81) 100%);
            padding-bottom: 5px;
          h2{
            padding-top: 34px;
            color: #FFFFFF;
          }    
  .regoNumberForm{
    padding-top: 10px;
      .form-content {
        margin-right: 24px;
      .form-field {
        width: 226px;
        height: 61px;
        background: #FFFFFF;
        border: 1px solid #838383;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 0px 10px;
    }
    
    .form-btn {
            width: 272px;   
            height: 62px;
            left: 617px;
            top: 249px;
            background: #33B569;
            border-radius: 8px;
            border: none;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
    }

    label {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #F2F2F2;
        padding-bottom: 10px;
    }
    }
  }
}
  .carDetails {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 10px;
    span {
        border-bottom: 1px solid #F2F2F2;
        font-weight: 700;
    }
}
.viewPlan {
    margin: 20px 0px;
    .frameContent {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        padding: 15px;
        width: 306px;
        margin-left: 15%;
        max-width: 100%;
        .frameContentLabel {
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.04em;
            color: #FFFFFF;
            margin-bottom: 25px;
        }
        .offerContent{
            label {
                font-weight: 800;
                font-size: 14px;
                line-height: 16px;
                color: #F2F2F2;
                display: block;
            }
            span {
                font-weight: 900;
                font-size: 24px;
                line-height: 33px;
                color: #FFFFFF;
            }
        }
        .viewBtn{
            a{
                font-weight: 900;
                font-size: 16px;
                line-height: 22px;
                color: #032150;
                display: block;
                text-align: center;
                padding: 10px;
                background: #FFFFFF;
                border: 1px solid #032150;
                box-sizing: border-box;
                border-radius: 8px;
                margin-top: 30px;
            }
        }
    }
}
.car-section{
    .carContent {
        p {
            font-weight: 500;
            line-height: 27px;
            color: #838383;
            margin-top: 20px;
        }
    }
    img{
        width: 100%;
    }
}
.plans-section{
    .plansContent {
        display: inline-flex;
        h3 {
            font-weight: 900;
            font-size: 20px;
            line-height: 27px;
            padding-top: 10px;
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #969696;
        }
    }
    .getQuoteBtn {
        margin-top: 50px;
        .greenBtn {
           background: #33B569;
            border-radius: 8px;
            border: none;
            font-weight: 900;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
            text-decoration: none;
            box-sizing: border-box;
            &:hover {
                background: rgba(55, 142, 240, 0.8) !important;
            }
        } 
    }
}
.brand-section{
    margin-top: 60px;
    .brands-content{
        .brand-images{
            display: flex;
            justify-content: center;
        }
    }
}
.cginusrnceCard {
    margin-top: 30px;
    .insuranceCard {
        background: rgba(255, 142, 18, 0.1);
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        .insuranceImg {
            padding-top: 15px;
        }
        .insuranceContent{
            .card-heading {
                font-weight: 900;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                padding-top: 20px;
            }
            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                color: #000000;
                padding-top: 10px;
            }
        }
    }
}
.morePlans-section{
    .planContent.term {margin-left: auto;}
    .planContent{
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgb(213 215 225 / 49%);
        border-radius: 12px;
        padding: 30px;
        .insuranceIcon{
            padding-top: 20px;
        }
        .planTitle {
            font-weight: 900;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            padding-top: 25px;
        }
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #838383;
            padding-top: 10px;
        }
        .insurnaceContent {
            display: inline-flex;
            padding: 5px 0px;
            .insurnacePoint {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: #000000;
                margin-left: 10px;
            }
        }
        .coverBtn {
            border: 1px solid #032150;
            box-sizing: border-box;
            border-radius: 8px;
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            margin-top: 25px;
            margin-bottom: 20px;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            color: #032150;
        }
    }
}

.blue-section {
    background: radial-gradient(88.53% 331.97% at 50% 50%, #194488 0%, #032150 100%);
    margin-top: 45px;
    padding: 40px 0px;
    h2{
        color: #FFFFFF;
    }
    p{
        font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 0px 135px;
    }
    .assistanceBtn {
        margin-top: 35px;
        a{
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 8px;
            margin: 0 auto;
            padding: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
            padding: 14px 15%;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                background: rgba(55, 142, 240, 0.8) !important;
                border:none;
            }
        }
    }
}
.peopleLove-section{
    margin-top: 35px;
    h2{
        margin-bottom: 30px;
    }
    .card-rating {
        background: #FFFFFF;
        border: 4px solid #DEDEDE;
        border-radius: 8px;
        padding: 25px;
        .quoteImg {
            margin-bottom: -41px;
            margin-left: -14px;
        }
        .Comments {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #26252F;
        }
        .cutomerName {
            font-weight: 800;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
        }
    }
}
    ::ng-deep .card-rating span {
        border-radius: 4px;
        margin: 0px 2px;
        font-size: 23px;
        padding: 0px 4px;
        color: #ffffff;
        font-weight: 900;
        background: #33B569;
    }
    .faq-section{
        margin-bottom: 50px;
        .faqTitle {
            font-weight: 800;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -0.9px;
            color: #26252F;
            border-bottom: 4px solid rgba(196, 196, 196, 0.3);
            padding-bottom: 20px;
        }
    }
    
}
@media (max-width: 1199px){
    .frameContent {
        width: auto !important;
        margin-left: 0px !important;
        max-width: 100% !important;
    }
}
@media (min-width: 1042px){
    .insuranceCard {
        height: 350px;
        min-height: 100%;
    }
    .planContent {
        height: 475px;
        max-height: 100%;
    }
}
@media (max-width: 1041px) and (min-width: 991px){
    .insuranceCard {
        height: 400px;
        min-height: 100%;
    }
    .planContent {
        height: 470px;
        max-height: 100%;
    }
}
@media (min-width: 992px){
    .car-section{
        .carContent {
            width: 455px;
            margin: 0 auto;
            max-width: 100%;
            padding-top: 50px;
            p {
                font-size: 20px;
            }
        }
    }
    .brands-content{
        display: flex;
    }
    .brands-content {
        display: flex;
        justify-content: center;
        .brand-images {
            width: 100%;
            .brandimg {
                width: 50%;
            }
        }
    }
    
    .planContent {
        width: 397px;
        max-width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgb(213 215 225 / 49%);
        border-radius: 12px;
        padding: 30px;
    }
}
@media (max-width: 991px) and (min-width: 769px){
    .form-btn {
        width: 100% !important;
        padding: 0px 25px;
    }
    .car-section{
        .carContent {
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 30px;
            padding-right: 30px;
            p {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 991px) {
    .peopleLove-section{
        .card-rating  {
            margin-top: 30px;
        }
    }
    .planContent {
        margin: 20px 0px;
        display: block;
        text-align: center;
    }
    .insuranceImg {
        padding-top: 10px !important;
    }
    .insuranceContent {
        margin-top: 0px !important;
    }
    .insuranceCard {
        margin: 20px 0px;
    }
    .planContent .insurnaceContent {
        width: 100%;        
        justify-content: center;
    }
    .brandimg {
        width: 50%;
        text-align: center;
        max-width: 100%;
    }
}
@media (min-width: 769px){
    .regoNumberForm{
        form{
          display: inline-flex;
        }
    }
    
    .plans-section{
        .getQuoteBtn {
            margin-top: 50px;
        }
        .greenBtn {
            padding: 20px 127px;
        }
    }
    
}
//mobile view
@media (max-width: 768px){
    .banner-section{
        .regoNumberForm {
            margin-top: 20px;
        }
        .form-content .form-field {
            width: 100% !important;
            margin-bottom: 20px;
        }
        .form-btn {
            width: 100% !important;
        }
    }
    .car-section{
        .carContent {
            margin-top: 30px;
            padding: 0px 30px;
            p {
                font-size: 18px;
            }
        }
    }
    .plans-section{
        h2 {
            margin-top: 30px !important;
        }
        .getQuoteBtn {
            margin-top: 50px;
        }
        .greenBtn {
            padding: 20px 30px;
        }
    }
    .blue-section p {
        padding: 0px 20px !important;
    }
}
