<div class="topbar sticky">
    <div class="row">
        <div class="col-10 col-sm-10 col-md-3 col-lg-5"> 
               <div class="logo">
                   <img src="assets/images/logo.png">
               </div>
        </div>
        <div class="col-2 col-sm-2 col-md-9 col-lg-7"> 
               <div class="topContent">
                    <div class="helplineConatact"> 
                        <p>Helpline - <span>1009-7775-88875</span> </p>
                    </div>
                    <div class="rightBar">
                        <div class="searchForm"> 
                            <form>
                                <a type="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </form>
                        </div>
                        <div class="getQuote greenBtn" *ngIf="currentRoute != '/customerDetail/:id' && currentRoute != '/customerDetail?url=getQuote' && currentRoute != '/summary' && currentRoute != '/comprehensive' && currentRoute != '/thirdParty'"> 
                            <a  [routerLink]="['/customerDetail/getQuote']">Get Quote</a>
                        </div>
                        <div class="loginBtn"> 
                            <a >Login</a>
                        </div>
                    </div>
               </div>
        </div>
    </div>
</div>