.sticky {
    position: sticky !important;
    top: 0px;
}
.topbar {
    background: #032150;
    padding: 14px 20px;
    position: relative;
    z-index: 99999;
    .logo img {
        width: 167px;
        height: 53px;   
    }
    .topContent p {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 0px;
        padding: 12px 20px;
        
    }
    .rightBar {
        display: flex;
        margin-left: 40px;
        .searchForm {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            padding: 14px;
            width: 47px;
            height: 47px;
            text-align: center;
            margin-right: 16px;
            i {
                color: #FFFFFF;
            }
        }
        .loginBtn {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            padding: 12px 20px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            width: 109px;
            height: 47px;
            text-align: center;
        }
        .getQuote {
            border-radius: 8px;
            padding: 12px 20px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            width: 128px;
            height: 47px;
            text-align: center;
            margin-right: 16px;
            a{
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        // .getQuote:hover{
        //     background: rgba(55, 142, 240, 1) !important;
        // }
    }
    .mobileNav{
        display: none;
    }
}

@media (min-width: 768px) {
    .topContent {
        display: flex;
        justify-content: end;
    }
}
@media (max-width: 767px) {
    .logo img {
        width: 150px;
        height: 53px;
    }
    .topContent {
        display: flex;
        justify-content: end;
        .helplineConatact p {
            font-weight: 800;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            margin-bottom: 0px;
            padding: 12px 20px;
            
        }
        .rightBar {
            display: flex;
            margin-left: 10px;
            .searchForm {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 4px;
                padding: 14px;
                width: 47px;
                height: 47px;
                text-align: center;
                margin-right: 16px;
                i {
                    color: #FFFFFF;
                }
            }
            .loginBtn {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 8px;
                padding: 12px 20px;
                font-weight: 800;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                width: 109px;
                height: 47px;
                text-align: center;
            }
            .getQuote {
                border-radius: 8px;
                padding: 12px 20px;
                font-weight: 800;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                width: 128px;
                height: 47px;
                text-align: center;
                margin-right: 16px;
            }
        }
    }
    .searchForm,.getQuote,.helplineConatact{
        display:none;
    }
}
