.planBox {
  margin: 20px 0px 0px 30px;
  width: 294px;
  position: fixed;
  z-index: 1;
  top: 23%;
  overflow-x: hidden;
  padding: 8px 0;
  right: 35px;
  .plancontent {
      display: flex;
      justify-content: space-between;
      .planheading h4 {
          font-weight: 600;
          font-size: 22px;
          line-height: 32px;
          color: #000000;
      }
      .changeContent a {
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          color: #33B569 !important;
      }
  }
  .planCard {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 25px;
      .heading {
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          color: #000000;
      }
      p {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: #838383;
          padding-top: 10px;
      }
      .viewCoverBtn {
          border: 1px solid #032150;
          box-sizing: border-box;
          border-radius: 8px;
          padding: 13px;
          margin-top: 35px;
          a {
              font-weight: 900;
              font-size: 16px;
              line-height: 22px;
              color: #032150;
              text-align: center;
              display: block;
          }
      }
  }
}
@media (max-width: 1134px){
    .planBox {
        display: contents;
    }
}