<div class="planBox">
    <div class="plancontent">
        <div class="planheading">
            <h4>Plan Selected</h4>
        </div>
        <div class="changeContent"><a>Change</a></div>
    </div>
    <div class="planCard">
        <div class="heading">Comprehensive Roadside Assistance
        </div>
        <p>The highest level of protection and the most benefits.
        </p>
        <div class="viewCoverBtn">
            <a>View Cover Details</a>
        </div>
    </div>
</div>