<app-topbar></app-topbar>
<app-header *ngIf="currentRoute != '/customerDetail/'+idOffername && currentRoute != '/customerDetail/getQuote'"></app-header>
    <router-outlet></router-outlet>
<app-footer *ngIf="currentRoute != '/customerDetail/'+idOffername && currentRoute != '/customerDetail/getQuote'"></app-footer>
