<div class="footer">
    <div class="mycontainer">
        <div  class="row">
            <div  class="col-7 col-sm-5 col-md-5 col-lg-5 col-lg-5">
                <div  class="logo"><img  src="assets/images/logo.png"></div>
            </div>
            <div  class="col-5 col-sm-7 col-md-7 col-lg-7 col-lg-7">
                <div  class="social-images">
                    <img  src="assets/images/facebook.png" width="40px"  height="40px">
                    <img  src="assets/images/insta.png" width="49px"  height="49px">
                    <img  src="assets/images/twitter.png" width="45px"  height="45px">
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div  class="row footer-bottom">
            <div  class="col-sm-12 col-md-1 col-lg-1 col-lg-1">
            </div>
            <div  class="col-sm-12 col-md-2 col-lg-2 col-lg-2">
                <div class="footer-part">
                    <h5>Insurance</h5>
                    <div class="footer-menu">
                        <a  href="">Motor Insurance</a>
                        <a href="">Health Insurance</a>
                        <a href="">Life Insurance</a>
                        <a href="">Home Insurance</a>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 col-md-2 col-lg-2 col-lg-2">
                <div class="footer-part">
                    <h5>Our Company</h5>
                    <div class="footer-menu">
                        <a  href="">About Us</a>
                        <a class="active" href="">Contact</a>
                        <a href="">Carrers</a>
                        <a href="">Investors</a>
                        <a href="">Newsroom</a>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 col-md-2 col-lg-2 col-lg-2">
                <div class="footer-part">
                    <h5>Quick Links</h5>
                    <div class="footer-menu">
                        <a  href="">Pay Premium</a>
                        <a class="active" href="">Claim</a>
                        <a href="">Previous Quote</a>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 col-md-2 col-lg-2 col-lg-2">
                <div class="footer-part">
                    <h5>About</h5>
                    <div class="footer-menu">
                        <a  href="">Site Maps</a>
                        <a class="active" href="">Accessibility</a>
                        <a href="">Terms and Condition</a>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 col-md-2 col-lg-2 col-lg-2">
                <div class="footer-part">
                    <h5>Contact</h5>
                    <div class="footer-menu">
                        <a  href="">1009-7775-88875</a>
                        <a href="mailto:help@auslife.com">help@auslife.com</a>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 col-md-1 col-lg-1 col-lg-1">
            </div>
        </div>
    </div>
   
</div>