.footer{
    background-color: #313948;
    padding: 40px;
    .social-images{
        text-align: end;
        img {
            margin-right: 20px;
        }
    }
    .line {
        border: 1px solid #C4C4C4;
        margin-top: 30px;
    }
    .footer-part{
        padding-top: 40px;
        h5 {
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
        }
        .footer-menu{
            a {
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                text-decoration: none;
                padding: 7px 0px;
                display: block;
            }
        }
    }
}
@media (max-width: 990px) {
    .footer-bottom,.line {
        display: none;
    }
    .footer {
        padding: 20px 0px;
    }
}
@media (max-width: 767px) {
    .social-images img {
        width: 30px;
        height: 30px;
        margin-right: 6px !important;
    }
}