<div class="step-form">
    <form #step2Form="ngForm" (ngSubmit)="step2Form.valid  && onSubmit(step2Form.value)">
        <div class="row col-1">
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Any Security devices fitted on the vehicle?</label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" [value]="true" name="securityDevices" [(ngModel)]="data.SecurityDevices"  #securityDevices="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                          </label>
                          <label class="radiocontainer">
                            <input type="radio" [value]="false" name="securityDevices" [(ngModel)]="data.SecurityDevices" required>
                            <span class="check"></span><span class="labelName">No</span>
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Are there any aftermarket modifications been made to the vehicle?
                    </label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" [value]="true" name="aftermarketModifications" [(ngModel)]="data.AftermarketModifications"  #aftermarketModifications="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                          </label>
                          <label class="radiocontainer">
                            <input type="radio"  [value]="false" name="aftermarketModifications" [(ngModel)]="data.AftermarketModifications" required>
                            <span class="check"></span><span class="labelName">No</span>
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Total value of any non-standard accessories, modifications or factory options fitted to vehicle?</label>
                    <input type="text" class="form-control" name="accessories" [(ngModel)]="data.Accessories" #accessories="ngModel" 
                    [ngClass]="{ 'is-invalid': accessories.invalid && (accessories.dirty || accessories.touched )  }" required>
                    <div class="invalid-feedback" *ngIf="accessories.invalid">
                        <div *ngIf="accessories.errors?.required">
                            Value of any non-standard accessories is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Is there any finance on the vehicle? </label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" [value]="true" name="finance" [(ngModel)]="data.Finance" #finance="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                          </label>
                          <label class="radiocontainer">
                            <input type="radio" [value]="false" name="finance" [(ngModel)]="data.Finance" required>
                            <span class="check"></span><span class="labelName">No</span>
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Where is the vehicle parked at night?</label>
                    <input type="text" name="vehicleParked" class="form-control" [(ngModel)]="data.VehicleParked" #vehicleParked="ngModel"
                        [ngClass]="{ 'is-invalid': vehicleParked.invalid && (vehicleParked.dirty || vehicleParked.touched) }" required>
                    <div class="invalid-feedback" *ngIf="vehicleParked.invalid">
                        <div *ngIf="vehicleParked.errors?.required">
                            Vehicle Parked is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Is there any unrepaired accident or damage?
                    </label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" name="unrepairedAccident" [value]="true" [(ngModel)]="data.UnrepairedAccident" #unrepairedAccident="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                        </label>
                        <label class="radiocontainer">
                            <input type="radio" name="unrepairedAccident" [value]="false" [(ngModel)]="data.UnrepairedAccident" required>
                            <span class="check"></span><span class="labelName">No</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>Will the vehicle be used for business activities
                    </label>
                    <div class="radioButton">
                        <label class="radiocontainer">
                            <input type="radio" name="businessActivities" [value]="true" [(ngModel)]="data.BusinessActivities" #businessActivities="ngModel" required>
                            <span class="check"></span><span class="labelName">Yes</span>
                          </label>
                          <label class="radiocontainer">
                            <input type="radio"  name="businessActivities" [value]="false" [(ngModel)]="data.BusinessActivities" required>
                            <span class="check"></span><span class="labelName">No</span>
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-content">
                <div class="input-group">
                    <span class="requiredstar">*</span>
                    <label>What is the average no. of Km that vehicle is ridden per year?
                    </label>
                    <div class="avgNumber">
                        <select name="avgNumber" id="avgNumber"  [(ngModel)]="data.AvgNumber" #avgNumber="ngModel"
                        [ngClass]="{ 'is-invalid': avgNumber.invalid && (avgNumber.dirty || avgNumber.touched )  }" required>
                            <option value="10k">10k+</option>
                            <option value="20k">20k</option>
                            <option value="30k">30k</option>
                            <option value="40k">40k</option>
                            <option value="50k">50k</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="avgNumber.invalid">
                            <div *ngIf="avgNumber.errors?.required">
                                What is the average no. is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomBtn">
            <div class="mycontainer">
                <div class="backButton">
                    <a class="backBtn"  (click)="back()">Back</a> 
                </div>
                <div class="nextButton">
                    <input type="submit" class="nextBtn" [ngClass]="{ 'disabled': !step2Form.valid }" [disabled]="!step2Form.valid"  value="Continue">
                </div>
            </div>
        </div>
    </form>
</div>
