.stickyHeader {
    position: sticky !important;
    top: 80px;
    z-index: 99999;
}
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}

.step-header {
    background: #F7F7F7;
    padding: 15px 0px 8px 0px;
}
.step-section {
    position: relative;
    z-index: 9;
    padding-top: 15px;
}


.stepwizard-step {
    display: inline-flex !important;
    text-align: center;
    position: relative;
    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: #000000;
        margin-left: 10px;
        padding-top: 5px;
        padding-right: 50px;
    }
}
.btn-circle {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 6px 0px;
    border-radius: 15px;
    background: #032150;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.04em;
    cursor: pointer;
}
.stepwizard-step.active .btn-circle{
    background:#33B569;
}

@media (max-width: 1134px){
.planFormContent {
    margin: 30px 50px !important;
}
}