    <div class="step-header stickyHeader">
        <div class="mycontainer">
            <div class="step-title">
                <div class="stepwizard-row setup-panel" >
                    <div class="stepwizard-step" id="1" [ngClass]="{'active' : currentStep==1, 'visited' : currentStep != 1}"> 
                        <a  type="button" class="btn-circle">1</a>
                        <p>Policy Details</p>
                    </div>
                    <div class="stepwizard-step col-xs-3" id="2" [ngClass]="{'active' : currentStep==2}"> 
                        <a type="button" class="btn-circle" disabled="disabled">2</a>
                        <p>Vehicle Details</p>
                    </div>
                    <div class="stepwizard-step col-xs-3" id="3" [ngClass]="{'active' : currentStep==3}"> 
                        <a type="button" class="btn-circle" disabled="disabled">3</a>
                        <p>Rider Details</p>
                    </div>
                    <div class="stepwizard-step col-xs-3" id="4" [ngClass]="{'active' : currentStep==4}"> 
                        <a type="button" class="btn-circle" disabled="disabled">4</a>
                        <p>Personal Details</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="stepBottom">
        <div class="stepwizard">
            <div class="step-content">
                    <div class="step-section">
                        <div class="stepperForm">
                            <div class="stepperFormContent">
                                <div class="steps-wrapper" id="step-1" *ngIf="currentStep==1">
                                    <app-step1></app-step1>
                                </div>
                                <div class="steps-wrapper" id="step-2" *ngIf="currentStep==2">
                                    <app-step2></app-step2>
                                </div>
                                <div class="steps-wrapper" id="step-3" *ngIf="currentStep==3">
                                    <app-step3></app-step3>
                                </div>
                                <div class="steps-wrapper" id="step-4" *ngIf="currentStep==4">
                                    <app-step4></app-step4>
                                </div>
                            </div>
                            <div class="planFormContent">
                                <app-plans></app-plans>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</div>