<div class="summary-section">
    <div class="buyInsurance">
        <div class="mycontainer">
            <div class="row">
                <div class="quoteNumber">Quote No. :<span>326452764</span></div>
                <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9" >
                    <div class="buyInsuranceContent">
                        <div class="monthlyPayment">$ {{offerPrice}}<span class="spanContent">monthly payment</span></div>
                        <p>This quote is based on your stated needs</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="buyInsuranceBtn">
                        <a class="buyBtn" (click)="UpdatePlanStatus();">Buy Insurance</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qouteDetails">
        <div class="mycontainer">
            <div class="row">
                <h2 >Your Quote Details</h2>
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" >
                    <div class="vahicleDetailsCArd">
                        <div class="row">
                            <div class="quoteLabel">Vehicle Details</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="vahicleName">
                                    <label  class="label">Vehicle</label><br>
                                    <span>Harley</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="regoNumber">
                                    <label  class="label">REGO Number</label><br>
                                    <span>55563334</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="vehicleModel">
                                    <label  class="label">Vehicle Model</label><br>
                                    <span>534 SF</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="editBtn">
                                    <a class="editDetails">Edit Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vahicleDetailsCArd">
                        <div class="row">
                            <div class="quoteLabel">Car Insurance</div>
                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-">
                                <div class="vahicleName">
                                    <label class="label">Plan</label><br>
                                    <span>{{Variant}}</span>
                                    <div class="viewCoverdetails"><a>View Cover Details</a></div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="editBtn">
                                    <a class="editDetails">Change</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vahicleDetailsCArd windCard" *ngFor="let addonPlans of addonPlans">
                        <div class="row">
                            <div class="quoteLabel">{{addonPlans.Label}}</div>
                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-">
                                <div class="windscreen">
                                    <img src="/assets/images/checkIcon.png" width="28px" height="28px">
                                    <div class="windContent">{{addonPlans.Highlights}}</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="windCardPrice">${{addonPlans.Premium}}</div>
                                <div class="windCardAddBtn">
                                    <a class="addDetails">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="vahicleDetailsCArd hireCarCover">
                        <div class="row">
                            <div class="quoteLabel">Hire Car Cover</div>
                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-">
                                <div class="hireCarscreen">
                                    <img src="/assets/images/checkIcon.png" width="28px" height="28px">
                                    <div class="hireContent">Cover the cost of a similar make or model hire car (up to $90 per day) for unlimited days after an incident right up until repairs are completed or until we settle your claim
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <div class="hireCardPrice">$36.00</div>
                                <div class="hireCardAddBtn">
                                    <a class="addDetails">Add</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="sumarryBox">
                        <div class="row">
                            <div class="summaryLabel">Summary</div>
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                <div class="plansName">Comprehensive Plan</div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                <div class="plansPrice">$ 136.00<br><span>per month</span></div>
                            </div>
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                <div class="plansName">Windscreen Cover</div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                <div class="plansPrice">$ 36.00<br><span>per month</span></div>
                            </div>
                        </div>
                        <div class="summaryInsuranceBtn">
                            <a class="buyBtn" (click)="UpdatePlanStatus();">Buy Insurance</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>