.summary-section{
  .quoteNumber {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 25px;
  }
  .buyInsurance {
    background: radial-gradient(59.24% 269.23% at 44% 50%, #c6dcff4d 0%, #607dab3d 100%);
    padding: 35px 0px;
  }
  .buyInsuranceContent{
   
    .monthlyPayment {
      font-weight: 900;
      font-size: 48px;
      line-height: 40px;
      color: #000000;
        .spanContent {
          font-weight: 500;
          font-size: 20px;
          line-height: 27px;
          color: #000000;
          padding-left: 5px;
        }
    }
    p{
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      color: #000000;
      padding-top: 12px;
      margin-bottom: 0px;
    }
  }
  .buyInsuranceBtn{
    margin-top: 30px;
    .buyBtn {
      background: #27AE60;
      border-radius: 8px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      text-decoration: none;
      padding: 17px 60px;
      cursor: pointer;
    }
  }
  .qouteDetails {
    padding-top: 70px;
    padding-bottom: 70px;

    .vahicleDetailsCArd {
        background: #FFFFFF;
        border: 1px solid #555555;
        border-radius: 12px;
        padding: 30px;
        margin-top: 25px;
          .quoteLabel {
            font-weight: 800;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            padding-bottom: 20px;
          }
        .label {
          font-weight: 500;
          font-size: 18px;
          line-height: 25px;
          color: #838383;
        }
        span {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #171616;
        }
        .viewCoverdetails a {
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          color: #33B569 !important;
        }
          .editBtn{
            margin-top: 20px;
            border: 1px solid #032150;
            box-sizing: border-box;
            border-radius: 8px;
            display: flex;
            width: 138px;
            height: 50px;
            justify-content: center;
            padding-top: 13px;
            .editDetails {
              font-weight: 900;
              font-size: 16px;
              line-height: 22px;
              color: #032150; 
              text-decoration: none;
              
            }
        }

        
    
    }
    .windCard {
      &:hover{
        background: #EFFFF6 !important;
        border: 1px solid #27AE60 !important;
      }
      .windscreen {
        display: flex;
        .windContent {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: #000000;
          margin-left: 15px;
      }
      }
      .windCardPrice {
        font-weight: 900;
        font-size: 20px;
        line-height: 14px;
        color: #000000;
    }
    .windCardAddBtn {
      width: 138px;
      height: 50px;
      background: #FFFFFF;
      border: 1px solid #27AE60;
      box-sizing: border-box;
      border-radius: 8px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      padding: 13px 0px 10px 0px;
      .addDetails {
        font-weight: 900;
        font-size: 16px;
        line-height: 22px;
        color: #27AE60;
        text-decoration: none;
    }
  }
    }
    .hireCarCover {
      .hireCarscreen {
        display: flex;
        .hireContent {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: #000000;
          margin-left: 15px;
      }
      }
      .hireCardPrice {
        font-weight: 900;
        font-size: 20px;
        line-height: 14px;
        color: #000000;
    }
    .hireCardAddBtn {
      width: 138px;
      height: 50px;
      background: #27AE60;
      border-radius: 8px;
      box-sizing: border-box;
      border-radius: 8px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      padding: 13px 0px 10px 0px;
      .addDetails {
        font-weight: 900;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        text-decoration: none;
    }
  }
    }
  }
  .sumarryBox {
    background: rgba(213, 215, 225, 0.489811);
    border-radius: 12px;
    padding: 25px;
    margin-top: 22px;
    .plansName {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #171616;
    }
    hr {
      margin-top: 23px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .plansPrice {
      font-weight: 800;
      font-size: 18px;
      line-height: 14px;
      color: #000000;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }
    }
    .summaryLabel {
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      color: #000000;
      padding-bottom: 20px;
  }
    .summaryInsuranceBtn {
      margin-top: 25px;
      background: #27AE60;
      border-radius: 8px;
      display: block;
      text-align: center;
      padding: 10px 0px;
    .buyBtn {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;
    }
  }
}
}
