<div class="payment-section">
    <div class="paymentInsurance">
        <div class="mycontainer">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9" >
                    <div class="paymentInsuranceContent">
                        <h2>Payment Successful!</h2>
                        <p>Our executives will reach out to you within 24-48 hrs. for verification.
                        </p>
                        <div class="dowloadBtn"><a>Download Policy Details</a></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="buyInsuranceBtn">
                        <img src="assets/images/starCar.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="morePlans-section">
        <div class="mycontainer">
            <h2 class="text-center mt-5">Meanwhile we recommend these plans for you
            </h2>
                <div class="planContent">
                    <div class="budgetHomes">
                        <div>
                            <img class="insuranceIcon" src="assets/images/home.png">
                        </div>
                        <div>
                            <div class="planTitle">Budget Homes</div>
                            <p>Get home insurance for extra protection for your home in the times of calamities.</p>
                        </div>
                    </div>
                    <div class="insurnaceContent">
                        <img src="assets/images/checkIcon.png" width="28px" height="28px">
                        <div class="insurnacePoint">Earthquake and Tsunami-Additional excess </div>
                    </div> 
                    <div class="insurnaceContent">
                        <img src="assets/images/checkIcon.png" width="28px" height="28px">
                        <div class="insurnacePoint">Removal of Debris-Up to 10% of your building sum insured </div>
                    </div>
                    <div class="insurnaceContent">
                        <img src="assets/images/checkIcon.png" width="28px" height="28px">
                        <div class="insurnacePoint">Temporary Accomodation Costs </div>
                    </div>
                    <div class="insurnaceContent">
                        <img src="assets/images/checkIcon.png" width="28px" height="28px">
                        <div class="insurnacePoint">Food Spoilage & Unoccupancy cover </div>
                    </div>
                    <div class="coverBtn"><a>View Quote</a></div>
                </div>
        </div> 
    </div>
</div>