.payment-section{
  .quoteNumber {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 25px;
  }
  .paymentInsurance {
    background: radial-gradient(59.24% 269.23% at 44% 50%, #c6dcff4d 0%, #607dab3d 100%);
    padding: 35px 0px;
    .paymentInsuranceContent{
      p{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        width: 70%;
      }
      .dowloadBtn{
        margin-top: 40px;
        a{
          padding: 12px 20px;
          background: #27AE60;
          border-radius: 8px;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }
      }
    }
  }
  .morePlans-section{
    margin-bottom: 60px;
    .planContent{
      width: 397px;
      max-width: 100%;
      margin: 0 auto;
        background: #FFFFFF;
        box-shadow: 0px 30px 60px rgb(213 215 225 / 49%);
        border-radius: 12px;
        padding: 30px;
        .budgetHomes {
            display: flex;
        }
        .insuranceIcon,.insuranceIconlife{
            border-radius: 10px;
            padding: 18px;
        }
        .insuranceIcon{
            background: #FF7474;
        }
        .insuranceIconlife{
            background: #7B61FF;
        }
        .planTitle {
            font-weight: 900;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            padding-top: 0px;
            padding-left: 10px;
        }
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #838383;
            padding-top: 10px;
            padding-left: 10px;
        }
        .insurnaceContent {
            display: inline-flex;
            padding: 5px 0px;
            margin-top: 14px;
            .insurnacePoint {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: #000000;
                margin-left: 10px;
            }
        }
        .coverBtn {
            background: #33B569;
            border-radius: 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            padding: 12px 20px;
            text-align: center;
            margin-top: 30px;
        }
        .rightcoverBtn {
            margin-top: 31% !important;
        }
    }
}
}