
<div class="carInsurance">
        <div class="banner-section">
            <div class="mycontainer">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
                        <h2>Get Car Insurance plans at 15% off*</h2>
                        <div class="regoNumberForm">
                            <!-- <form>
                                <div class="form-content">
                                    <label for="zipcode">Zipcode</label><br>
                                    <input type="text" id="Zipcode"  class="form-field" name="Zipcode" value=""><br>
                                </div>
                                <div class="form-content">
                                    <label for="rego">REGO Number</label><br>
                                    <input type="text" id="rego" name="rego" class="form-field" value=""><br>
                                </div>
                                <div class="form-content">
                                    <label ></label><br>
                                    <input type="submit" class="form-btn" value="Find Plans For Me">
                                </div>
                            </form>  -->
                            <form #form="ngForm" (ngSubmit)="form.valid  && onSubmit(form.value)" novalidate>
                                <div class="form-content">
                                    <label for="zipcode">Zipcode</label><br>
                                    <input type="text" id="Zipcode"  class="form-field" name="Zipcode" [(ngModel)]="ZipCode" #Zipcode="ngModel" 
                                    [ngClass]="{ 'is-invalid': Zipcode.invalid && (Zipcode.dirty || Zipcode.touched )  }" required><br>

                                    <div class="invalid-feedback" *ngIf="Zipcode.invalid">
                                        <div *ngIf="Zipcode.errors?.required">
                                            Zip Code is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-content">
                                    <label for="rego">REGO Number</label><br>
                                    <input type="text" id="rego" name="rego" class="form-field" [(ngModel)]="RegoNumber" #rego="ngModel" 
                                    [ngClass]="{ 'is-invalid': rego.invalid && (rego.dirty || rego.touched )  }" required><br>

                                    <div class="invalid-feedback" *ngIf="rego.invalid">
                                        <div *ngIf="rego.errors?.required">
                                            REGO Number is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-content">
                                    <label ></label><br>
                                    <input type="submit" class="form-btn" value="Find Plans For Me">
                                </div>
                            </form> 
                        </div>
                        <p  class="carDetails">Don’t know your REGO no.? <span>Enter your car details manually</span></p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="viewPlan">
                            <form>
                                <div class="frameContent">
                                    <div class="retrieveQuoteField">
                                        <input type="text" id="previousQuote"  class="previousQuotefield" name="previousQuote" placeholder="Continue with Previous Quote">
                                    </div>
                                    <div class="retrieveQuoteBtn">
                                        <input type="submit" id="retrieveBtn"  class="retrieveBtn" name="retrieveBtn" value="Retrieve Quote">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="CarInsuranceTypeSection">
                    <h2 class="text-center">Types of Car Insurance</h2>
                    <p class="text-center headingPara">Fast car insurance quotes for personalized coverage</p>
                <div class="carContent">
                    <div class="mycontainer">
                        <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <a [routerLink]="['/comprehensive']" class="active">
                            <div class="carTypeContent">
                                <h3>Comprehensive</h3>
                                <p>Covers accidental loss or damage to your vehicle. It also covers accidental damage you cause to someone else's vehicle or property.</p>
                                <div class="viewMoreBtn">
                                    <a>View More</a>
                                </div>
                                <div class="arrow-down"></div>
                            </div>
                        </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <a [routerLink]="['/thirdParty']" >
                            <div class="carTypeContent">
                                <h3>Third Party</h3>
                                <p>Covers your vehicle if it's stolen or damaged by fire. It also covers accidental damage you cause to someone else's vehicle or property.</p>
                                <div class="viewMoreBtn">
                                    <a>View More</a>
                                </div>
                                <div class="arrow-down-right"></div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="insurancePlan-section">
            <div class="mycontainer">
                <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><a  class="orangeColor">Top Selling</a></th>
                            <th scope="col"><a class="orangeColor">24% users bought this</a></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                          <th scope="col"></th>
                          <th *ngFor="let label of responseArray.Label" scope="col" class="topColumn">{{ label }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" >Premium</th>
                          <td class="planGetQuoteBtn" *ngFor="let name of responseArray.Name"><a (click)="getQuote(name)">Get Quote</a></td>
                        </tr>
                        <tr>
                          <th scope="row">Excess</th>
                          <td *ngFor="let excess of responseArray.Excess" class="insuranceContent" [ngStyle]="{ width: 75 / responseArray.Excess.length+'%'}">${{ excess }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Not at Fault Hire</th>
                            <td *ngFor="let notAtFaultHire of responseArray.NotAtFaultHire">
                              <img *ngIf="notAtFaultHire==true" src="assets/images/checkIcon.png">
                              <img *ngIf="notAtFaultHire==false" src="assets/images/cross.png">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Lifetime guarantee on repairs</th>
                           
                            <td *ngFor="let lifetimeGuaranteeOnRepairs of responseArray.LifetimeGuaranteeOnRepairs">
                                <img *ngIf="lifetimeGuaranteeOnRepairs==true" src="assets/images/checkIcon.png">
                                <img *ngIf="lifetimeGuaranteeOnRepairs==false" src="assets/images/cross.png">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Personal Effects cover</th>
                            <td class="insuranceContent" *ngFor="let personalEffectsCoverFee of responseArray.PersonalEffectsCoverFee">${{ personalEffectsCoverFee }}</td>
                          </tr>
                          <tr>
                            <th scope="row">New Car Replacement</th>
                            <td class="insuranceContent" *ngFor="let newCarReplacement of responseArray.NewCarReplacement">{{ newCarReplacement }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Loss or Stolen Keys</th>
                            <td class="insuranceContent" *ngFor="let lostOrStolenKeysFee of responseArray.LostOrStolenKeysFee">${{lostOrStolenKeysFee}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Accidental death benefit</th>
                            <td class="insuranceContent" *ngFor="let accidentalDeathBenefit of responseArray.AccidentalDeathBenefit">${{accidentalDeathBenefit}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Child Seat or Baby Capsule</th>
                            <td class="insuranceContent" *ngFor="let childSeatorBabyCapsule of responseArray.ChildSeatOrBabyCapsuleFee">${{childSeatorBabyCapsule}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Emergency transport and accomodation cover</th>
                            <td class="insuranceContent" *ngFor="let emergencyTransportAndAccomodationCoverFee of responseArray.EmergencyTransportAndAccomodationCoverFee">${{emergencyTransportAndAccomodationCoverFee}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Road Side Assistance</th>
                            <td  *ngFor="let roadSideAssistance of responseArray.RoadSideAssistance">
                                <img *ngIf="roadSideAssistance==true" src="assets/images/checkIcon.png">
                                <img *ngIf="roadSideAssistance==false" src="assets/images/cross.png">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Freedom to nominate repairer</th>
                            <td *ngFor="let freedomToNominateRepairer of responseArray.FreedomToNominateRepairer">
                                <img *ngIf="freedomToNominateRepairer==true" src="assets/images/checkIcon.png">
                                <img *ngIf="freedomToNominateRepairer==false" src="assets/images/cross.png">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Safe Driver Rewards</th>
                            <td *ngFor="let safeDriverRewards of responseArray.SafeDriverRewards">
                                <img *ngIf="safeDriverRewards==true" src="assets/images/checkIcon.png">
                                <img *ngIf="safeDriverRewards==false" src="assets/images/cross.png">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Accidental Cleanup</th>
                            <td *ngFor="let accidentalCleanup of responseArray.AccidentalCleanup">
                                <img *ngIf="accidentalCleanup==true" src="assets/images/checkIcon.png">
                                <img *ngIf="accidentalCleanup==false" src="assets/images/cross.png">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Uninsured Motorist Extension</th>
                            <td *ngFor="let uninsuredMotoristExtension of responseArray.UninsuredMotoristExtension">
                                <img *ngIf="uninsuredMotoristExtension==true" src="assets/images/checkIcon.png">
                                <img *ngIf="uninsuredMotoristExtension==false" src="assets/images/cross.png">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row"></th>
                            <td class="planGetQuoteBtn" *ngFor="let name of responseArray.Name"><a (click)="getQuote(name)">Get Quote</a></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
        <div class="cgInsurance-section">
            <div class="mycontainer">
                <h2 class="text-center mt-5">Why Choose CG Insurance</h2>
                <div class="row cginusrnceCard">
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/multiPolicy.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Multi-policy</div>
                                <p>Is your home, car, boat, or RV insured with us? You could save even more on motorcycle insurance if you combine it with another Progressive product.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/optional.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Optional Extras</div>
                                <p>Comprehensive customers can choose one or more of our four optional extras, including a hire car following an accident, and cover for their riding gear.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/multiPolicy.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Easy, paperless claims 24/7</div>
                                <p>Whether you lodge and track your claim over the phone or online, say goodbye to mountains of paperwork!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="insuranceCard">
                            <div class="insuranceImg">
                                <img src="assets/images/colling.png">
                            </div>
                            <div class="insuranceContent">
                                <div class="card-heading">Cooling-off period</div>
                                <p>If you haven’t made a claim, you can cancel your policy within 21 days of the purchase date and receive a full refund of your premium
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="blue-section">
            <div class="mycontainer">
                <h2 class="text-center">Need Advice? Get help with our Assistance</h2>
                <p class="text-center">With three levels of motor insurance cover — Comprehensive, Third party with fire & theft, and Third party — you can choose the MotorPlan that’s right for you.</p>
                <div class="assistanceBtn text-center"><a>Get Assistance</a></div>
            </div> 
        </div>
</div>

